:root {
    --text-size-xs: 0.75rem;
    --text-size-s: 1rem;
    --text-size-m: 1.25rem;
}

.text-xs {
    font-size: var(--text-size-xs);
}

.text-s {
    font-size: var(--text-size-xs);
}

.text-m {
    font-size: var(--text-size-m);
}


.grey-text {
    color: var(--text-grey);
}