.mt-1 {
    margin-top: var(--margin-xs);
}

.mt-2 {
    margin-top: var(--margin-s);
}

.mt-3 {
    margin-top: var(--margin-m);
}

.mt-4 {
    margin-top: var(--margin-l);
}

.mr-1 {
    margin-right: var(--margin-xs);
}

.mr-2 {
    margin-right: var(--margin-s);
}

.mr-3 {
    margin-right: var(--margin-m);
}

.mr-4 {
    margin-right: var(--margin-l);
}

.mb-1 {
    margin-bottom: var(--margin-xs);
}

.mb-2 {
    margin-bottom: var(--margin-s);
}

.mb-3 {
    margin-bottom: var(--margin-m);
}

.mb-4 {
    margin-bottom: var(--margin-l);
}

.ml-1 {
    margin-left: var(--margin-xs);
}

.ml-2 {
    margin-left: var(--margin-s);
}

.ml-3 {
    margin-left: var(--margin-m);
}

.ml-4 {
    margin-left: var(--margin-l);
}

:root {
    --margin-xs: 0.875rem;
    --margin-s: 1.25rem;
    /* 24px */
    --margin-m: 1.5rem;
    /* 30px */
    --margin-l: 1.875rem;
}